@font-face{
  font-family: 'digital-clock';
  src: url('C:Users/abayn/Projects/calculator/public/digital-7.ttf') format('truetype');
}
.App {
  display: grid;
  width:400px;
  height: 606px;
  margin:auto;
  margin-top:150px;
  padding: 10px;
  border: 1px solid black;
  background-color: #080708;
}
button{
  font-size: 20px;
}
.input{
  position: relative;
  height:100px;
  width: 100%;
  padding: 0;
  border: none;
  text-align: right;
  background-color: #080708;
  color: white;
  font-size: 20px;
  font-family: 'digital-clock';
}
.clear,.zero{
  width:200px;
  height:100px;
}
.zero,.decimal{
  position:relative;
  bottom:50px;
}
.operator,.number,.decimal{
  width:100px;
  height:100px;
}
.equals{
  position:relative;
  width:100px;
  height:200px;
  bottom:100px;
  background-color: #3772FF;
  border: 1px solid #080708;
  color: white;
}
.clear{
  background-color: #DF2935;
  border: 1px solid #080708;
  color: white;
}
.decimal,.number,.zero{
  background-color: #294936;
  border: 1px solid #080708;
  color: white;
}
.operator{
  background-color: #5B8266;
  border: 1px solid #080708;
  color: white;
}


