.App {
  display: grid;
  width:200px;
  height: 303px;
  margin:auto;
  margin-top:250px;
  padding: 10px;
  border: 1px solid black;
}
.input{
  height:50px;
  width: 195px;
}
.clear,.zero{
  width:100px;
  height:50px;
}
.zero,.decimal{
  position:relative;
  bottom:25px;
}
.operator,.number,.decimal{
  width:50px;
  height:50px;
}
.equals{
  position:relative;
  width:50px;
  height:100px;
  bottom:50px;
}


